h4{
        
    text-align: end;
    color: blue;
    font-size: 1em;
    font-size:1vw;
    margin-top: -40px;
    
}
img{ 

    height:30vw;
    margin-top: 20px;
}
h1{
  
   padding-left: 50px;
   padding-top: 25px;
   font-size: 3vw;
}
h2{
   padding-left: 50px;
   padding-top:  25px;
   color: #4B0082;
   font-size:2vw;
   
   
}
 
p{
    padding-left: 50px;
    font-size: 2em;
    text-align: justify;
    font-size:1vw;
} 

h5{

    
    padding-left: 50px;
    margin-top: -20px;
    font-size:1vw;
}
.pp{

    font-size: 1vw;
    padding-left: 50px;
    text-align: justify;
}

#pop{
   
   border-bottom: 2px solid gray;
   padding-bottom: 25px;
  
}
.ping{
   
   padding-top: 100px;
}
.dod{
   
   padding-right: 200px;
}
.pin{
   
   float: right;
   border-style: solid;
   margin-top: 50px;
   background-color: #FFD801;
   font-size:1vw;
   
}